

.otp_box {
    width: 40px;
    height: 20px;
    overflow: hidden;
    border: none;
    background-color: black;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    text-align: center;
}
.otp_box::-webkit-inner-spin-button {
    appearance: none;
}

.otp_container div input[type=number] {
    appearance: textfield;
}

#otp_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#GmailImg {
    border-radius: 50%;
    width: 100px;
    margin-top: -150px;
    height: 100px;
    border: 1px solid white;
    border: none;
    box-shadow: .5px .5px 5px white, inset .5px .5px 10px white;
    margin-left: 100px;
}


#popup_window_container{
    margin-top: -200px;
}